<?xml version="1.0"?>
<robot name="my_robot">

  <link name="base_footprint"/>
  <link name="base_link"/>
  <link name="base_scan"/>
  <link name="imu_link"/>
  <link name="caster_back"/>

  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.000 0.000 0.010" rpy="0.000 -0.000 0.000"/>
  </joint>

  <joint name="base_link_to_base_scan" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="-0.032 0.000 0.172" rpy="0.000 -0.000 0.000"/>
  </joint>

  <joint name="base_link_to_imu_link" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.032 0.000 0.068" rpy="0.000 -0.000 0.000"/>
  </joint>

  <joint name="base_link_to_caster_back" type="fixed">
    <parent link="base_link"/>
    <child link="caster_back"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

</robot>